 Xft.dpi:                      121
 Xft.antialias:                 true
 Xft.hinting:                   true
 Xft.hintstyle:                 hintfull
 Xft.rgba:                      rgb

 xcalendar*firstDay:            1
 xcalendar*markHoliday:         false
 !Xcursor.theme:                whitelarge
 !Xcursor.size:                 32

 XTerm*background:                       grey15
 XTerm*foreground:                       grey75
 XTerm*cursorColor:                      darkorange1
 XTerm*scrollBar:                        false
 XTterm*utf8:                            2
 XTerm*termName:                         xterm-256color
 XTerm*faceName:                         xft:Dejavu Sans Mono:pixelsize=11.5
 ! http://invisible-island.net/xterm/xterm.faq.html#tiny_menus
 XTerm.VT100.geometry:                   89x29
 XTerm*saveLines:                        7777
 XTerm*metaSendsEscape:                  true
 XTerm*highlightSelection:               true
 XTerm*trimSelection:                    true
 XTerm*cutNewline:                       false
 XTerm*colorBDMode:                      true
 XTerm*colorBD:                          khaki
 XTerm*charClass: 3:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48,35:48,58:48,63:48,61:48,44:48,38:48,59:48
 
 XTerm*color0:                           #171717
 XTerm*color8:                           #737373
 XTerm*color1:                           #FF5E5E
 XTerm*color9:                           #FF7878
 XTerm*color2:                           #9CE82B
 XTerm*color10:                          #9ACD32
 XTerm*color3:                           #F0E68C
 XTerm*color11:                          #EEE8AA
 XTerm*color4:                           #008AFF
 XTerm*color12:                          #4F98FF
 XTerm*color5:                           #E88CFF
 XTerm*color13:                          #EDA6FF
 XTerm*color6:                           #87CEFA
 XTerm*color14:                          #B0E2FF
 XTerm*color7:                           #DCDCCC
 XTerm*color15:                          #FFFFFF

 
 xcalc*geometry: 200x275
 xcalc.ti.bevel.background: #111111
 xcalc.ti.bevel.screen.background: #000000
 xcalc.ti.bevel.screen.DEG.background: #000000
 xcalc.ti.bevel.screen.DEG.foreground: LightSeaGreen
 xcalc.ti.bevel.screen.GRAD.background: #000000
 xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
 xcalc.ti.bevel.screen.RAD.background: #000000
 xcalc.ti.bevel.screen.RAD.foreground: LightSeaGreen
 xcalc.ti.bevel.screen.INV.background: #000000
 xcalc.ti.bevel.screen.INV.foreground: Red
 xcalc.ti.bevel.screen.LCD.background: #000000
 xcalc.ti.bevel.screen.LCD.foreground: LightSeaGreen
 xcalc.ti.bevel.screen.LCD.shadowWidth: 0
 xcalc.ti.bevel.screen.M.background: #000000
 xcalc.ti.bevel.screen.M.foreground: LightSeaGreen
 xcalc.ti.bevel.screen.P.background: #000000
 xcalc.ti.bevel.screen.P.foreground: Yellow
 xcalc.ti.Command.foreground: White
 xcalc.ti.Command.background: #777777
 xcalc.ti.button5.background: Orange3
 xcalc.ti.button19.background: #611161
 xcalc.ti.button18.background: #611161
 xcalc.ti.button20.background: #611111
 xcalc.ti.button25.background: #722222
 xcalc.ti.button30.background: #833333
 xcalc.ti.button35.background: #944444
 xcalc.ti.button40.background: #a55555
 xcalc.ti.button22.background: #222262
 xcalc.ti.button23.background: #222262
 xcalc.ti.button24.background: #222272
 xcalc.ti.button27.background: #333373
 xcalc.ti.button28.background: #333373
 xcalc.ti.button29.background: #333373
 xcalc.ti.button32.background: #444484
 xcalc.ti.button33.background: #444484
 xcalc.ti.button34.background: #444484
 xcalc.ti.button37.background: #555595
 xcalc.ti.button38.background: #555595
 xcalc.ti.button39.background: #555595
 XCalc*Cursor:                 hand2
 XCalc*ShapeStyle:             rectangle
 
 Xmessage.form.okay.shapeStyle:         rectangle
 Xmessage.form.okay.background:         #777777
 Xmessage.form.okay.foreground:         snow
 !Xmessage*message*background:          snow
 Xmessage*buttons:                       OK
 Xmessage*defaultButton:                 OK
 !Xmessage*Background:                  black
 !Xmessage*Foreground:                  grey85
 !Xmessage.Scrollbar:                   WhenNeeded
 Xmessage.form.message.Scroll:          WhenNeeded
 Xmessage*Font:                         -*-terminus-medium-*-*-*-12-*-*-*-*-*-*-*
 Xmessage*borderWidth:                  0
 Xmessage*Text.borderWidth:             0
 Xmessage*Command.shapeStyle:           rectangle
 Xmessage*Text.?.cursorColor:           white

 !XFontSel*sampleText.background: TEXTBG
 XFontSel*menu*showUnselectable: false
 XFontSel*MenuButton.shadowWidth: 0
 XFontsel*Toggle*ToggleStyle: check
 XFontsel*MenuButton*Justify:    left
 XFontsel*MenuButton*MenuButtonStyle: select
 .xfontsel.pane.commandBox.quitButton.background: #777777
 .xfontsel.pane.commandBox.quitButton.foreground: snow
 .xfontsel.pane.commandBox.ownButton.background: orange3
 .xfontsel.pane.commandBox.ownButton.foreground: snow
 .xfontsel.pane.commandBox.countLabel.background: snow
 .xfontsel.pane.viewPort.sampleText.background: #777777
 .xfontsel.pane.viewPort.sampleText.foreground: snow
 .xfontsel.pane.fieldBox.field0.background: #777777
 .xfontsel.pane.fieldBox.field0.foreground: snow
 .xfontsel.pane.fieldBox.field1.background: #777777
 .xfontsel.pane.fieldBox.field1.foreground: snow
 .xfontsel.pane.fieldBox.field2.background: #777777
 .xfontsel.pane.fieldBox.field2.foreground: snow
 .xfontsel.pane.fieldBox.field3.background: #777777
 .xfontsel.pane.fieldBox.field3.foreground: snow
 .xfontsel.pane.fieldBox.field4.background: #777777
 .xfontsel.pane.fieldBox.field4.foreground: snow
 .xfontsel.pane.fieldBox.field5.background: #777777
 .xfontsel.pane.fieldBox.field5.foreground: snow
 .xfontsel.pane.fieldBox.field6.background: #777777
 .xfontsel.pane.fieldBox.field6.foreground: snow
 .xfontsel.pane.fieldBox.field7.background: #777777
 .xfontsel.pane.fieldBox.field7.foreground: snow
 .xfontsel.pane.fieldBox.field8.background: #777777
 .xfontsel.pane.fieldBox.field8.foreground: snow
 .xfontsel.pane.fieldBox.field9.background: #777777
 .xfontsel.pane.fieldBox.field9.foreground: snow
 .xfontsel.pane.fieldBox.field10.background: #777777
 .xfontsel.pane.fieldBox.field10.foreground: snow
 .xfontsel.pane.fieldBox.field11.background: #777777
 .xfontsel.pane.fieldBox.field11.foreground: snow
 .xfontsel.pane.fieldBox.field12.background: #777777
 .xfontsel.pane.fieldBox.field12.foreground: snow
 .xfontsel.pane.fieldBox.field13.background: #777777
 .xfontsel.pane.fieldBox.field13.foreground: snow
 .xfontsel.pane.fieldBox*foreground: #000000
 .xfontsel.pane.fieldBox.MenuButton.borderWidth: 1
 .xfontsel.pane.fieldBox.MenuButton.internalHeight: 1
 .xfontsel.pane.fieldBox.MenuButton.internalWidth: 2
 .xfontsel.pane.fieldBox.MenuButton.shapeStyle: rectangle
 
 xcolorsel*Background:                   black
 xcolorsel*Foreground:                   grey85
 xcolorsel*Font:                         -*-terminus-medium-*-*-*-12-*-*-*-*-*-*-*
 xcolorsel.geometry:                     399x595
 xcolorsel*displayFormat:                #rrggbb
 xcolorsel*maxRows:                      99

