[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cherold/Desktop/DeepinScreenshot_select-area_20181130142806.png]
row=3
col=0

[/home/cherold/Desktop/DeepinScreenshot_select-area_20180403172551.png]
row=7
col=0

[/home/cherold/Desktop/DeepinScreenshot_select-area_20180403172641.png]
row=6
col=0

[/home/cherold/Desktop/DeepinScreenshot_select-area_20181030133538.png]
row=4
col=0

[/home/cherold/Desktop/DeepinScreenshot_select-area_20180403222830.png]
row=5
col=0

[/home/cherold/Desktop/Vampir.desktop]
row=8
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/cherold]
row=2
col=0

